annotated-types==0.7.0
apify==3.4.1
apify_client==2.5.1
apify_fingerprint_datapoints==0.13.0
apify_shared==2.2.0
async-timeout==5.0.1
browserforge==1.2.4
cachetools==7.1.4
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
colorama==0.4.6
crawlee==1.7.2
cryptography==49.0.0
filelock==3.29.4
google-auth==2.55.0
google-auth-oauthlib==1.4.0
greenlet==3.5.2
gspread==6.2.1
idna==3.18
impit==0.12.0
lazy-object-proxy==1.12.0
more-itertools==11.1.0
multidict==6.7.1
oauthlib==3.3.1
playwright==1.60.0
playwright-stealth==2.0.3
propcache==0.5.2
Protego==0.6.1
psutil==7.2.2
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
pyee==13.0.1
python-dotenv==1.2.2
pytz==2026.2
requests==2.34.2
requests-file==3.0.1
requests-oauthlib==2.0.0
tldextract==5.3.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
websockets==16.0
yarl==1.24.2
